@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
  background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
  /* background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  padding: .1px;
}

#inicio {
  /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%); */
  background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
  /* background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); */
}

#nav{
  /* background-image: linear-gradient(120deg, #84fab0 0%, #8ff4e7 100%); */
  background-image: linear-gradient(to top, #9ce0f1df 0%, #8cecdce7 100%);
  /* background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%); */
  /* background-color: white; */
}

#svg {
  filter: invert(27%) sepia(40%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);;
}
