@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

#inicio {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

#nav{
  background-image: linear-gradient(120deg, #84fab0 0%, #8ff4e7 100%);
  /* background-color: white; */
}